<div class="container mt-4">
    <h1>Preguntas frecuentes</h1>
    <h2>Pregunta 1</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto ad, atque commodi necessitatibus explicabo inventore sint accusamus maiores ut iste, fugiat aspernatur odio molestias animi exercitationem provident dolorem nisi enim.</p>
    <p>Eum impedit neque, dolore alias quo nihil, quae totam corrupti maiores aliquid et, fugiat exercitationem minus fugit. Illo delectus ut sint praesentium! Aut alias inventore maiores dolorem eligendi sunt provident.</p>
    <h2>Pregunta 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consequatur officiis assumenda nesciunt, officia debitis possimus unde nostrum labore, saepe sed odio illum sunt a pariatur harum corporis magnam quos?</p>
    <p>Ipsa illo sed aliquid officiis, aperiam impedit facilis sequi molestias, ipsum molestiae perspiciatis omnis corrupti! Quasi, eos itaque ipsam suscipit deleniti ratione temporibus, facere nihil sapiente dolore, nam maiores animi!</p>
    <h2>Pregunta 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab similique et quas atque? Cumque consequuntur ipsum quisquam quidem commodi, quo doloremque numquam, eos unde ex a voluptate temporibus, maxime sapiente!</p>
    <p>Neque, qui nostrum! Iste tempore unde velit debitis laboriosam nesciunt non quis, magni, architecto doloremque in consequuntur ex quae saepe dolor voluptatum nemo eos tempora veritatis, obcaecati ipsum! Sapiente, perspiciatis.</p>
    <h2>Pregunta 4</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, inventore aspernatur aut ut itaque assumenda illo dicta cum asperiores ducimus delectus quae, tenetur excepturi numquam, laborum nesciunt! Autem, sequi tenetur!</p>
    <p>Perspiciatis dolorem ducimus nesciunt quos in molestias iusto, rerum voluptatibus numquam? Esse ipsa iste maiores minima sed est rem quo eos dolorum. Fuga placeat consequuntur assumenda, veniam voluptatum beatae nulla!</p>
    <h2>Pregunta 5</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque illum libero tenetur, quos aliquam quibusdam, in voluptate vero fuga nemo illo omnis, explicabo ducimus maxime facilis sed iste! A!</p>
    <p>Ipsa, amet? Explicabo voluptatum cupiditate veritatis labore sequi laboriosam repudiandae architecto vero quod, quisquam distinctio. Distinctio dolor, ut rem ipsa maxime eaque temporibus? Nisi quidem totam blanditiis assumenda minus quis.</p>
    <h2>Pregunta 6</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore autem voluptatibus eveniet neque veritatis beatae harum laudantium quam suscipit quas qui officia aperiam temporibus, inventore optio et dolorum distinctio numquam.</p>
    <p>Illum maiores aliquid repudiandae nisi earum! Odit minima quia sequi asperiores neque laudantium maiores, architecto iusto quod ex nemo adipisci, suscipit sed aliquam tempora repellendus natus iure tenetur ab id.</p>
    <h2>Pregunta 7</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae error quod repellat aut repudiandae omnis nihil, ad expedita dignissimos eum quia repellendus earum accusamus similique, rerum, ipsum recusandae maiores voluptatibus.</p>
    <p>Sed, eum velit reiciendis beatae quibusdam ducimus, praesentium aliquid expedita minima voluptates repudiandae pariatur explicabo aliquam? Illo culpa qui, atque aliquam harum vitae animi nulla, quis repellat, quod aspernatur beatae.</p>
    <h2>Pregunta 8</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam qui accusantium vel amet neque, odit sequi, vitae eos est obcaecati quo. Omnis accusamus quod eveniet expedita officia aperiam magnam quibusdam?</p>
    <p>Cumque, non sequi iusto labore et placeat blanditiis veniam culpa a harum minima. Nesciunt voluptatem repudiandae perspiciatis tempora accusantium fugit, provident molestias distinctio, enim sit dolorum voluptates ipsa nam? Facilis?</p>
    <h2>Pregunta 9</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempore corrupti dolores? Distinctio totam doloribus nulla aperiam. Excepturi earum accusamus voluptatum sint mollitia iste. Totam, quae eum! Libero, accusamus quod!</p>
    <p>Quibusdam laborum quisquam deleniti maiores voluptate dignissimos architecto dolore cupiditate tempora quam quae nulla, eligendi aspernatur saepe at necessitatibus nisi vel eveniet quo alias, praesentium itaque aliquam ducimus minima? Accusamus!</p>
    <h2>Pregunta 10</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloribus dolorum quia voluptates ullam numquam totam, in aliquam tenetur blanditiis maxime veniam aspernatur eius modi id at molestias neque ab.</p>
    <p>Quas iure veritatis atque vel. Minima, facilis! Blanditiis eligendi corrupti placeat cumque et consectetur explicabo necessitatibus provident ab, culpa sapiente quia aspernatur reiciendis ipsum, quasi, impedit cupiditate eos quo earum?</p>
</div>